.label{
    display: inline-block;
}

.select3-container{
    border: 1px solid #67809f;
}

.select3-search--dropdown .select3-search__field{
    border: 1px solid #67809f;

}

.select3-container .select3-search--inline .select3-search__field{
    width: 100% !important;
    margin-top:0px !important;
}

.select3-container .select3-search--inline {
     /*float: none !important;*/
    width: 100% !important;
}

.select3-container .select3-selection--multiple .select3-selection__rendered{
    padding-left: 0px !important;
    width: 100% !important;
    min-height: 32px;
    margin-bottom: 0px !important;
}

li.select3-selection__choice {
    display: inline-block;
    padding: 5px;
    border: 1px solid #CCC;
    margin: 1px;
    float: left;
}


span.select3-selection__choice__remove {
    font-weight: bolder;
    margin-right: 5px;
    font-size: 18px;
}

span.selection {
    display: inline-block;
    width: 100%;
}

.select3-results__option--highlighted{
    background: #CCC;
}

.select3-results__option[aria-selected="true"]{
    background: #CCC;
}

.select3-container .select3-selection--single .select3-selection__rendered{
    line-height: 30px;
}

.padd-left{
    padding-left: 0px !important;
}

.padd-right{
    padding-right: 0px !important;
}

.btn-site-primary {
    color: #fff;
    background-color: #34316d;
    border-color: #211d71;
}

.btn-site-primary:hover {
    color: #fff;
    background-color: #211d71;
    border-color: #211d71;
}

.btn-site-primary:focus{
    color: #FFF;
}

.actions .btn{
    width: 34px;
    height: 34px;
    line-height: 27px !important;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen{
    padding-top: 3px !important;
}

.page-header.navbar .page-logo .logo-default{
    width: 50px;
    margin-top: 5px;
    margin-left: 36px;
}

.cursor_pointer{
    cursor:pointer !important
}

.generate_radio_btns .form-control{
     height: auto !important;
     min-height:32px;
}

.generate_radio_btns .col-md-4{
    padding-left: 0px !important;
}

.panel_max_height_400{
    height: 400px;
    overflow-y: scroll;
}

.cke_reset_all table{
    z-index: 100000000 !important;
}

.cke_combopanel{
    z-index: 100000000 !important;
}

.cke_panel{
    z-index: 100000000 !important;
}

.not_item{
    position: relative;
}

.remove_not_item{
    position: absolute;
    top: 0px;
    right: 20px;
}