@font-face {
  src: url(../web-fonts-with-css/webfonts/MrEavesXLModOT-Reg.ttf);
  font-family:"test" ;
}

@font-face {
  src: url(../web-fonts-with-css/webfonts/MrEavesXLModOT-Heavy.ttf);
  font-family:"try" ;
}


@font-face {
  src: url(../web-fonts-with-css/webfonts/Hind-Regular.ttf);
  font-family:"trey" ;
}




$dir:ltr;

body{
  direction: $dir;
  font-family: "test";
  font-size: 16px;
  line-height: 1.5;
  color: #212032;
  background-color: #ffffff;
}



.social-part{
  ul{
    display: block;
    margin-top: 11px;
    li{
      a{
        text-decoration: none;
        color: #0a0918;
        transition: all 0.3s;
        &:hover{
          color: #00adef;
        }
      }
      .login{
        color:#ee2761;
        font-weight: 600;
      }
    }
  }

}
@media (min-width: 768px) {
  .social-part{
    ul{
      display: inline-flex;
    }
  }
}
ul li a{
  margin-right: 20px;
}

.navbar-brand{
  img{
    width: 85%;
    margin-left: 8%;
  }
}

.navexpand{
  .navbar-nav{
    .nav-link{
      color: #0a0918;
      transition: all 0.3s;
      &:hover{
        color: #00adef;
      }
    }
  }
}

.navexpand .dropdown-toggle::after{
  display: none!important;
}

//=======================================================================
.firstbackground{
  background: url("../images/HPimageHeader.jpg");
  padding-bottom: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0px 0px 0px 0px;
  h1{
    font-size: 40px;
    color: #fff;
    padding: 5px 30px;
    line-height: 1.23;
    font-family: "try";
    font-weight: bold;

  }
  .search{
    margin-left: 8%;
    form{
      display: flex;
      position: relative;
    }
    input{
      width: 50%;
      border-radius: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #bbc0c8;
      padding-left: 30px;
      position: relative;

    }
    i{
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 9;
      color: #bbc0c8;
    }
    button{
      width: 20%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
@media (min-width: 768px) {
  .firstbackground{
    margin: 0px 36px 0px 46px;
    h1{
      font-size: 73px;
      padding: 86px 47px;
    }
  }
}
.search input::placeholder{
  color: #bbc0c8;
}

.startdesign{
  background-color: #203548;
  margin: 0px 0px 0px 0px;
  .title{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 28px;
    span{
      margin-left: 5px;
    }
    a{
      margin-left: 25px;
    }
  }
}
@media (min-width: 768px) {
  .startdesign{
    margin: 0px 36px 0px 46px;
  }
}


//===================== start product================================================================

.recommend{
  h2{
    font-family: "try";
    margin: 30px 3.5%;
  }
}
.product{
  text-align: center;
  a{
    text-decoration: none;
    color: #0a0918;
  }
  .detail{
    .title{
      font-size: 15px;
      font-weight: bold;
    }
    .desc{
      color: #6a6f72;
      font-size: 12px;
      margin-top: -5%;
    }
  }
  img{
    border: solid 1px lightgray;
    padding: 19px;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover{
      transform: scale(1.04);
    }
  }
}

//==========================================================================================
.bannerone{
  margin: 0px 4% 0px 4%;
  .one{
    height: 490px;
    display: none;
    width: 100%;
    margin: 30px 0px;
  }
  .two{
    display: block;
  }
}

@media (min-width: 768px) {

  .bannerone{
    .one{
      height: 490px;
      display: block;
    }
    .two{
      display: none;
    }
  }
}

//=================================================
.desimg{
  margin-left: 3.6%;
  margin-right: 4%;
  img{

  }
}

.recommend{
  h2{
    span{
      a{
        color: #ee2761;
        text-decoration: none;
        font-size: 13px;
        margin-left: 2%;
        transition: all 0.3s;
        &:hover{
          color: #00adef;
        }
      }
    }
  }
}

//============================================================

.video{
  background-color: #f6f6f9;
  padding: 25px 38px;
  .last_vid{
    margin-top: 45px;
    h2{
      font-weight: 900;
      color: #282562;
    }
    p{
      color: #282562;
      margin: 25px 0px;
      font-size: 17px;
    }
  }

}

#video {
  position: relative;
  background: #000;
  margin: 20px auto;
  display: block;
  img{
    display: block;
    width: 100%;
  }
  iframe{
    display: block;
  }
}
@media(min-width: 768px){
  #video{
    display: block;
  }
}

#play {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  background: url('../images/play-button.png') no-repeat 50% 50%;
  background-size: auto, cover;
  z-index: 9999;
  &:hover{
    background-color: rgba(0,0,0,0.2) !important;
  }
}
#play:hover{
  overflow:hidden;
  -webkit-animation: switch 5s infinite; /* Chrome, Safari, Opera */
  animation: all 0.5s infinite;
  background: url('../images/download.png') no-repeat 50% 50%;
}

//==============================================================================

footer{
  background-color: #00adee;
  padding-bottom: 1%;
  .footerlist{
    display: block;
    text-align: center;
    margin-top: 70px;
    li{
      a{
        text-decoration: none;
        color: white;
        transition: all 0.3s;
        &:hover{
          color: #fff;
          opacity: 0.5;
        }
      }
      .btn-danger{
        width: auto;
        margin-top: -0px;
        margin-left: 0%;
      }
    }
  }
  .lang_select{
    background-color: #00adee;
    color: white;
    height: 42px;
    margin-top: 60px;
  }
  .copyright{
    color: white;
    margin-top: 60px;
    text-align: center;
  }

  .footersocial{
    display: inline-flex;

    margin-top: 60px;
    li{
      a{
        text-decoration: none;
        color: white;
        transition: all 0.5s;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  footer{
    .footerlist{
      display: inline-flex;
      li{
        .btn-danger{
          width: 100%;
          margin-top: -7px;
          margin-left: 28%;
        }
      }
    }
    .copyright{
      text-align: left;
    }
  }
}


//============================================== pro page================================================

.trend{
  margin-bottom: 50px;
  span{
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;

  }
  .trend_one{
    margin-top: 7px;
    padding-top: 17px;
    border-top: 2px solid #f5f5f5;
    .product{
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      &:hover{
        .imaged {
          .cart_but {
            opacity: 1;
          }
        }
      }
      .imaged{
        position: relative;
        &:hover{
          .test{
            opacity: 1;
          }
          .test_one{
            opacity: 0;
          }
          .cart_but{
            opacity:1;
          }


        }
        .cart_but{
          position: absolute;
          display: inline-block;
          bottom: 12px;
          right: 8px;
          width: 22px;
          opacity: 0;
          line-height: 22px;
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
          a{
            color: black;
            -moz-transition: 0.5s all ease;
            -o-transition: 0.5s all ease;
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            font-size: inherit;
            &:hover{
              color: #67b0d6;
            }
            i{
              width: 21px;
              max-width: 21px;
              height: 21px;
              line-height: 22px;
              text-align: center;
              display: inline-block;
              background: rgba(234, 234, 234, 0.85);
              -webkit-border-radius: 11px;
              -moz-border-radius: 11px;
              border-radius: 11px;
            }
          }

        }
        .test_one{
          position: absolute;
          top: 0;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          width: 100%;
        }
        .test{
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          width: 100%;
        }

        .new{
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          display: inline-block;
          padding: 8px 5px;
          color: #fff;
          position: absolute;
          top: 10px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          min-width: 68px;
          text-align: center;
          left: auto;
          right: 10px;
          background-color: #9ed178;
        }
        .sale{
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          display: inline-block;
          padding: 8px 5px;
          color: #fff;
          position: absolute;
          top: 10px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          min-width: 68px;
          text-align: center;
          right: auto;
          left: 10px;
          background-color: #cf98de;
        }

      }
      .caption{
        text-align: center;
        margin-top: 20px;
      }
      .name{
        margin-bottom: 9px;
        font-size: 16px;
        line-height: 19px;
        color: #143546;
        a{
          color: #143546;
          outline: none;
          text-decoration: none;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          &:hover{
            color: #67b0d6;


          }
        }
      }
      .price{
        margin-bottom: 17px;
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        color: #143546;
        .price-old{
          text-decoration: line-through;
        }
        .price-new{
          color: #f6846a;
        }
      }
      button{
        height: 32px;
        font-size: 12px;
        position: relative;
        color: rgba(255, 255, 255, 0);
        border: none;
        padding: 7px 19px 8px;
        overflow: hidden;
        -webkit-appearance: none;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        transition: 0.1s all ease;
        &:hover{
          color: rgba(255, 255, 255, 0);
          background-color: #f6846a;
          border-color: #f6846a;
          .over{
            top: 0px;
          }
          .out{
            top: -60px;
          }
        }
        .over{
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 31px;
          z-index: 2;
          color: #fff;
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
        }
        .out{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 31px;
          z-index: 2;
          color: #fff;
          -moz-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
        }
      }
    }
  }
}

.hidden {
  display: none;
}




/*

Step 1
======

Style your page (the product list)

*/

.products {
  float: none;
  margin: 10px;
}
@media (min-width: 768px) {
  .products{
    float: left;
  }

}

.products .product-images,
.products .product-form {
  display: none;
}

/*

Step 2
======

Reposition and redesign fancyBox blocks

*/

/* This elements contains both blocks */
.fancybox-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 800px;
  max-height: 600px;
}

/* Left block will contain the gallery */
.fancybox-stage {
  width: 52%;
  background: #fff;
}

/* Right block - close button and the form */
.fancybox-form-wrap {
  position: absolute;
  top: 0px;
  right: -164px;
  bottom: 0px;
  width: 70%;
  background: #fff;
}

/* Add vertical lines */
.fancybox-form-wrap::before,
.fancybox-form-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.fancybox-form-wrap::before {
  width: 8px;
  background: #f4f4f4;
}

.fancybox-form-wrap::after {
  width: 1px;
  background: #e9e9e9;
}

/* Set position and colors for close button */
.fancybox-button--close {
  position: absolute;
  top: 0;
  right: 0;
  background: #F0F0F0;
  color: #222;
  padding: 7px;
}

.fancybox-button:hover {
  color: #111;
  background: #e4e4e4;
}

.fancybox-button svg path {
  stroke-width: 1;
}

/* Set position of the form */
.fancybox-inner .product-form {
  overflow: auto;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 0 50px;
  text-align: left;
}

.fancybox-stage{
  background-color: #e1e1e1;
}
/*

Step 3
======

Tweak fade animation

*/

.fancybox-inner {
  opacity: 0;
  transition: opacity .3s;
}

.fancybox-is-open .fancybox-inner {
  opacity: 1;
}

.fancybox-is-closing .fancybox-fx-fade {
  opacity: 1 !important; /* Prevent double-fading */
}

/*

Step 2
======

Bullet navigation design

*/
.product-bullets {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 99999;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.product-bullets li {
  display: inline-block;
  vertical-align: top;
}

.product-bullets li a {
  display: block;
  height: 30px;
  width: 20px;
  position: relative;
}

.product-bullets li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  border-radius: 99px;
  text-indent: -99999px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.product-bullets li.active a span {
  background: #FF6666;
}

.product-form{
  .price{
    margin-bottom: 17px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #143546;
    .price-old{
      text-decoration: line-through;
    }
    .price-new{
      color: #f6846a;
    }
  }
}
.colors{
  .btn{
    color: white;
    border: none;
    &:focus{
      border: none;
    }
  }
}
.colors .btn span{
  opacity: 0;
  margin-right: 16px;
}
.colors .active span{
  opacity: 1;
}

.colors input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  opacity: 0;
}

.fo_number{
  width: 47px;
  margin-left: 9px;
  border-radius: 2px;
  border: solid 1px lightgray;
  text-align: center;
}
.final_bt{
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: none;
  &:hover{
    background-color: #f6846a;
  }
}

.addtowish{
  color: #007bff;
}
.towish{
  color: #007bff;
  margin-left: 4%;
}

//=============================start section of content ========================

.content{
  direction: rtl;
  position: relative;
  margin-bottom: 64px;
  .nav{
    padding-right: 0;
    .nav-item{
      a{
        font-size: 12px;
        line-height: 14px;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        margin-right: 0;
        margin-left: 0;
        border-width: 2px;
        border-bottom: none;
      }
    }
  }
}




.nxt{
  color: #0d95e8;
  background-color: white;
  border-radius: 16px;
  padding: 2px 5px;

}

.side_title{
  position: absolute;
  top: 0;
  left: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #143546;
  margin-top: 9px;
}

//=============================================================================================================

.box-heading{
  margin-bottom: 30px;
  padding-bottom: 7px;
  border-bottom: 2px solid #f5f5f5;
  h3{
    margin: 0;
    font: 400 12px/14px "Montserrat", sans-serif;
    color: #143546;
    text-transform: uppercase;
  }
}

.blog{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 64%;
  text-align: center;
  padding: 79px 28px 70px;
  background: #f7f7f7;

  .text_bl{
    .art_title{
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      color: #143546;
      margin-bottom: 10px;
      text-transform: uppercase;
      a{
        color: #143546;
        outline: none;
        text-decoration: none;
        &:hover{
          color: #67b0d6;
        }
      }
    }
    .art_date{
      margin-top: 20px;
      font-weight: 400;
      color: #7f8187;
      line-height: 18px;
      text-transform: uppercase;
    }
    .art_desc{
      font-weight: 300;
      color: #7f8187;
      font-size: 10px;
      margin-bottom: 20px;
      margin-top: 15px;
    }
  }
}
@media (min-width: 768px) {
  .blog{
    .text_bl{
      .art_desc{
        font-weight: 300;
        color: #7f8187;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 15px;
      }
    }
  }
}
.bl_img{

  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  float: right;

}
.blogs_te{
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 40px;
}
.art_subtitle{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 29px 28px 28px 28px;
  border-top: 1px solid #f1f1f1;
  display: inline-block;
  font-size: 14px;
  color: #143546;
  font-weight: 400;
  .article-comments{
    font-weight: 400;
    color: #67b0d6;
    line-height: 18px;
    text-transform: uppercase;
    float: left;
    transition: all 0.3s;
    &:hover{
      color: #67b0d6;
    }
    a{
      color: #7f8187;
      text-decoration: none;
      &:hover{
        color: #67b0d6;
      }
    }
  }
  .article-author{
    font-weight: 400;
    color: #67b0d6;
    line-height: 18px;
    text-transform: uppercase;
    float: right;
    margin-left: 20px;
    a{
      color: #7f8187;
      text-decoration: none;
      &:hover{
        color: #67b0d6;
      }
    }
  }
}

.buttonss{
  height: 32px;
  font-size: 12px;
  position: relative;
  color: rgba(255, 255, 255, 0);
  border: none;
  padding: 7px 19px 8px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.1s all ease;
  &:hover{
    color: rgba(255, 255, 255, 0);
    background-color: #f6846a;
    border-color: #f6846a;
    .over{
      top: 0px;
    }
    .out{
      top: -60px;
    }
  }
  .over{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 31px;
    z-index: 2;
    color: #fff;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .out{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 31px;
    z-index: 2;
    color: #fff;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
}



//==========================================================

.buttonssw{
  height: 55px;
  position: relative;
  color: rgba(255, 255, 255, 0);
  background-color: #f6846a;
  border: none;
  font-size: 14px;
  padding: 7px 19px 8px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.1s all ease;
  &:hover{
    color: rgba(255, 255, 255, 0);
    background-color: #0d95e8;
    border-color: #f6846a;
    .over{
      top: 10px;
    }
    .out{
      top: -60px;
    }
  }
  .over{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 31px;
    z-index: 2;
    color: #fff;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .out{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 31px;
    z-index: 2;
    color: #fff;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
}
//==============================================================================


#gal1{
  display: none;
  .elevatezoom-gallery{
    margin-bottom: 10px;
    margin-left: -4%;
  }
}
@media(min-width: 768px){
  #gal1{
    display: grid;
  }
}
.allgallry{
  display: -webkit-inline-box;
  direction: ltr;
}
@media(min-width: 768px){
  .allgallry{
    direction: rtl;
  }
}

.single-pro{
  .product-form{
    h2{
      font-size: 22px;
      font-weight: 700;
      color: #143546;
    }
    .product-section{
      padding: 10px 0;
      letter-spacing: .8px;
      strong {
        font-weight: 300;
        color: #143546;

      }
      span {
        color: #f6846a;
        font-size: 12px;
      }
      .stock {
        color: #143546;
      }

    }

    .product-rating-status{
      line-height: 16px;
      letter-spacing: .8px;
      color: #7f8187;
      margin-bottom: 20px;
      .fa-stack{
        font-size: 14px;
        line-height: 16px;
        width: 0.7em;
        height: 16px;
      }
      .review-link-show{
        a {
          text-decoration: none;
          color: #7f8187;
        }
      }
      .review-link{
        position: relative;
        margin-left: 10px;
        vertical-align: top;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
  button{
    height: 32px;
    font-size: 12px;
    position: relative;
    color: rgba(255, 255, 255, 0);
    border: none;
    padding: 7px 19px 8px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.1s all ease;
    background-color: #f6846a;
    border-color: #f6846a;
    &:hover{
      color: rgba(255, 255, 255, 0);
      background-color: #007bff;
      border-color: #007bff;
      .over{
        top: 0px;
      }
      .out{
        top: -60px;
      }
    }
    .over{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 31px;
      z-index: 2;
      color: #fff;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
    }
    .out{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 31px;
      z-index: 2;
      color: #fff;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
    }
  }
  .product-tags{
    a{
      text-decoration: none;
    }
  }


  .box{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .box a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px 4px 10px;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    transition: 0.5s all;
    cursor: pointer;
  }
  .fb{
    background:#2980b9;
  }
  .tw{
    background:#3498db;
  }
  .yb{
    background:#548fae;
  }

  .box a:hover{
    margin-top: -3px;
  }

}

.mobile-social-share{
  .share-group {
    margin-top: 9px;
  }
  .mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
  }


  .btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
  }

  .share {
    min-width: 17px;
    padding: 18px 20px;
  }
  button{
    height: 30px;
    font-size: 12px;
    position: relative;
    color: rgba(255, 255, 255, 0);
    border: none;
    padding: 7px 19px 8px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.1s all ease;
    color: white;
    background-color: #67b0d6 !important;
  }

  .btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
  }

  .btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
  }

  .btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
  }

  .caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
  }

  #socialShare {
    max-width:59px;
    margin-bottom:18px;
  }

  #socialShare > a{
    padding: 6px 10px 4px 10px;
  }

  @media (max-width : 320px) {
    #socialHolder{
      padding-left:5px;
      padding-right:5px;
    }

    #socialShare{
      margin-left:5px;
      margin-right:5px;
    }


  }

  ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
    li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
    }
  }

  .share {
    min-width: 17px;
  }


}

.review{
  .content{
    direction: ltr;
  }
  .dicription{
    margin: 15px 15px;
  }
}


.dicription{
  .rating{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
    font-family: "test";
    font-size: 14px;
    color: #7f8187;
    .fa-stack{
      font-size: 14px;
      line-height: 16px;
      width: 0.7em;
      height: 16px;
    }

  }
  #review{
    font-family: "test";
    font-size: 14px;
    color: #7f8187;
  }
  .close-tab{
    border: none;
    transition: all 0.5s;
    background-color: #67b0d6;
    &:hover{
      background-color: #f6846a;
      border: none;
    }
  }
  label{
    font-size: 12px;
    font-weight: normal;
    color: #143546;
  }
  .product-review-form{
    margin-top: 20px;
    display: none;

    button{
      height: 32px;
      font-size: 12px;
      position: relative;
      color: rgba(255, 255, 255, 0);
      border: none;
      padding: 7px 19px 8px;
      overflow: hidden;
      -webkit-appearance: none;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
      transition: 0.1s all ease;
      background-color:#67b0d6;
      border-color: #67b0d6;
      &:hover{
        color: rgba(255, 255, 255, 0);

        background-color: #f6846a;
        border-color: #f6846a;
        .over{
          top: 0px;
        }
        .out{
          top: -60px;
        }
      }
      .over{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 31px;
        z-index: 2;
        color: #fff;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
      }
      .out{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 31px;
        z-index: 2;
        color: #fff;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
      }
    }
  }

  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px;
  }
  .control-label{
    font-size: 12px;
    color: #737373;
  }
  .cont{
    font-size: 12px;
    color: #737373;
    input[type=radio]{
      opacity: 1;
    }
  }
  .pull-right{
    text-align: right;
  }
  input{
    background: #f2f2f2;
    border: 1px solid #f3f4f5;
  }
  textarea{
    background: #f2f2f2 !important;
    border: 1px solid #f3f4f5;
  }
}

div.required .control-label:after {
  content: '*';
  color: red;
  margin-left: 1px;
}

#fbplus-wrap{
  top: 10px !important;
}

//================================================

.cat_pro{
  h4{
    font-family: "try";
    margin: 30px 0%;
  }
  .category{
    color: #ee2761;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
      color: #d42356;
    }
  }
  .viewmore{
    color: #ee2761;
    float: right;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #ee2761;
      transition: all 0.3s;
      &:hover{
        color: #d42356;
      }
    }
    i{
      font-size: 9px;
      padding: 0px 5px;
    }
  }
}

.pagepro{
  margin-top: 60px;
}


//================================================== cart page  =======================


.weight{
  text-align: center;
  font-family: "try";
  margin: 30px 0px 10px;
}


.param {
  margin-bottom: 7px;
  line-height: 1.4;
}
.param-inline dt {
  display: inline-block;
}
.param dt {
  margin: 0;
  margin-right: 7px;
  font-weight: 600;
}
.param-inline dd {
  vertical-align: baseline;
  display: inline-block;
}

.param dd {
  margin: 0;
  vertical-align: baseline;
}

.shopping-cart-wrap .price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
var {
  font-style: normal;
}

.media img {
  margin-right: 1rem;
}
.img-sm {
  width: 90px;
  max-height: 75px;
  object-fit: cover;
}


.tablesize{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  hr{
    margin-bottom: 50px;
  }
  .card{
    display: block;
    overflow-x: scroll;
  }
}
@media(min-width: 768px){
  .tablesize{
    padding-left: 65px;
    padding-right: 49px;
    margin-bottom: 30px;
    hr{
      margin-bottom: 50px;
    }
    .card{
      display: block;
      overflow-x: hidden;
    }
  }
}

.like{
  font-size: 18px;
  color: #222328;
  font-weight: bold;
  margin-left: 4%;
}
.likep{
  margin-left: 4%;
  color: #7f8187;
}

.card-header{
  a{
    color: #143546;
    outline: none;
    text-decoration: none;
    font-size: 15px;
  }
  i{
    font-size: 12px;
  }
  input{
    width: 90%;
  }

}
.card-body{
  .coupon{
    transition: all 0.3s;
    border: none;
    &:hover{
      background-color: #f6846a;
      border: none;
    }
  }
  .titleoption{
    text-align: inherit;
    margin-bottom: 20px;
  }
}
@media(min-width: 768px){
  .card-body{
    .titleoption{
      text-align: right;
      margin-bottom: 20px;
    }
  }
}
.card-body .control-label:after {
  content: '*';
  color: red;
  margin-left: 1px;
}

.getcotes{
  margin-left: 2%;
}
.lasttable{
  margin: 20px 0px;
}

.check{
  .coupon{
    transition: all 0.3s;
    border: none;
    &:hover{
      background-color: #f6846a;
      border: none;
    }
  }
}

.testw{
  border: solid 3px lightblue;
  &:hover{
    color: #f6846a !important;
    background-color: white;

  }
}



.zoomWindow{
  left:0px;
}
@media(min-width:768px){
  .zoomWindow{
    left:412px;
  }
}



.popupstyle{
  width:100%;
}


.modal-header .close {
    padding: 6px 15px;
    font-size: 20px;
    margin: -1rem -1rem -1rem auto;
}



//======================================== categories page =====================

.categories{

  text-align: left;
  font-family: "try";
  color: #282562;
}
.catlink{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}

.catwithicon{
  transition:all 0.3s;
  background-color: #f6f6f9;
  color: #282562;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0px 10px;
  margin: 20px 0px;
  img{
    width: 65%;
  }
  p{
    font-size: 21px;
    font-weight: 900;
    font-family: "try";
  }
  &:hover{
    box-shadow: 3px 4px 10px 3px #c5bfbf;
    transform:scale(1.02);
  }
}



//==================================== single category page ==============================

.sigcat{
  text-align: left;
  font-family: "try";
  color: #ffffff;
  padding: 23px 0px;
}
.pageprotwo{
  background-image: linear-gradient(91deg, #282562, #ee2761);
  position: relative;
  margin-top: 35px;
}



.pag{
  font-size: 12px;
  margin: 25px 0px;
  font-family: "test";
  margin-left: 0%;
  font-weight: 700;
  color: rgba(20, 53, 70, 0.8);
  a{
    font-size: 12px;
    color: rgba(20, 53, 70, 0.8);
    text-decoration: none;
  }
  .chevron{
    margin: 0px 6px;
    font-size: 9px;
    color: lightgray;
  }
}


.allparts{
  background-color: #f6f6f9;
  padding: 20px 0px 20px 25px;
  a{
    text-decoration: none;
    color: black;
    font-family: "trey";
    font-weight: 500;
    span{
      transition: all 0.2s;
      color: #ee2761;
      &:hover{
        color: #af1e48;
      }
    }
  }
  .sidecat{
    margin-left: 20px;
    margin-top: 9px;
    li{
      margin-bottom: 5px;
      a{
        transition: all 0.2s;
        color: #6a6f72;
        &:hover{
          color: #00adef;
        }
      }
    }
  }
  .main_cat{
    font-size: 17px;
    font-weight: 900;
    margin-top: 20px;
  }
}

.cat_pro{
  margin-top: 10px;
}

.confcolor{
  background-color: gray;
    border-radius: 2px;
    padding: 6px 35px;
    color: white;
}

.lastreq{
  top:25%;
}

.ofinal{
  img{
  width: 15%;
  }
}



//===========================================================
.checkout{
  text-align: left;
  font-family: "try";
  margin: 30px 0px 10px;
}

.tablesize{
  .alert{
  margin-top:30px;
  }
  form{
  margin-left: 2%;
  }
  .ship{
  margin-bottom:20px;
  }
  .together{
  margin-left: 7%;
  }
  .tog{
  margin-left:-4%;
  }
  .contry{
  margin-bottom:0px !important;
  }

  .cards{
  width: 93%;
    }
}


//=========================================================


.panel-heading{
  margin-top: 45px;
}
.visa{
  font-size: 19px;
    color: #00adee;
}







//============================== profile logo

.profile_logo{
    text-align: center;
    background: url(../images/banner%20profile.png);
    padding: 9% 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    margin-bottom: 9%;
    img{
    width: 160px;
    height: 160px;
    right: 44%;
    bottom: -36%;
    border: solid 5px black;
    position:intial;
    }

  
}
@media(min-width:768px){
  .profile_logo{
  img{
  position:absolute;
  }
  }
}

