firstbackground.auto-width .fa-stack{
    text-align: center;
    width: auto !important;
}

.select_color_btn{
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}

.firstbackground{
    background-position: top !important;
}

.firstbackground_margin {
    margin: 0px 36px 0px 46px;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.login_card {
   margin: 10px auto;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #092338;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #092338;
}

.select_color_btn{
    width: 150px;
    height: 150px;
}

.cart_item_property{
    border-bottom: 1px solid #CCC;
    padding: 5px 0px;
    border-bottom-style: dashed;
}
.cart_item_property:last-child{
    border-bottom: 0px solid #CCC;
}


.pay_now_btn{
    background: #00aeef !important;
    color: #FFF;
    margin-top:5px;
}

.pay_now_btn:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #FFF;
}

.checkout_page input[type='radio']{
    opacity: 1 !important;
}

.checkout_page hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.selected_user_address_class{
    margin-top: 5px;
    float: left;
}

.selected_user_address_label_class{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    float: left;
    margin-left: 10px;
}

.checkout_page_max_200{
    max-height: 200px;
    overflow-y: scroll;
}

.checkout_page .payment_method_label,
.checkout_page .selected_shipping_label
{
    font-weight: bold;
    margin-right: 20px;
    display: block;
}

.checkout_page .payment_method_input,
.checkout_page .selected_shipping_input
{
    float:right;
}

.padd-right{
    padding-right: 0px !important;
}

.padd-left{
    padding-left: 0px !important;
}

.product_cart_item{
    display: inline-block;
    border-bottom: 1px solid #CCC;
}

.card_margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_height{
    min-height: 70vh;
}

.statistics_font{
    font-size: 30px;
    font-weight: bolder;

}

.click_to_copy{
    margin-top: 10px;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#video iframe{
    width: 100%;
}